.Root {
    /* background-image: url("/src/static/bg.jpg"), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5));
    background-blend-mode: 'overlay'; */
    min-height: "100vh";
    background-repeat: "no-repeat";
    background-color: "rgba(2, 2, 50)";
    flex-grow: "1";
  }